.locator {
  margin-top: 148px;
  display: flex;
  position: relative;
  height: auto;

  .locator__list {
    width: 620px;
    border-right: 1px solid $primary;
    padding-bottom: 60px;

    .locator__list-filters {
      width: 100%;
      position: sticky;
      top: 70px;
      display: flex;
      padding-inline: 15px;
      padding-block: 20px;
      justify-content: flex-end;
      background-color: $light;
      border-bottom: 1px solid $primary;

      .locator__list-filters-view {
        display: none;
        margin-right: 10px;
        button {
          cursor: pointer;
          position: relative;
          padding: 8px 15px;
          overflow: hidden;
          text-transform: uppercase;
          border: 1px solid $primary;
          background: #fff;
          font-size: 14px;
          color: $primary;
          border-radius: 50px;
          width: 100%;
          max-width: 300px;
          letter-spacing: 0px;
          -webkit-transition: all ease 0.25s;
          transition: all ease 0.25s;
          margin-right: 10px;

          &:last-of-type {
            margin-right: 0;
          }

          &.active {
            border: 1px solid $secondary;
            background: $secondary;
            color: $light;
          }
        }
      }

      .locator__input-dropdown {
        display: flex;
        width: 100%;

        .locator__input-input {
          flex: 1;
          margin-right: 10px;
          height: 42px;
          position: relative;
          border: 1px solid $primary;

          input {
            display: block;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            outline: none;
            border: none;
            padding: 0;
            padding-inline: 12px;

            &:-webkit-autofill {
              transition: background-color 9999s ease-in-out 0s;
              background-color: transparent !important;
              -webkit-text-fill-color: #000 !important;
            }
          }

          button {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;

            #icon-111-search {
              transition: 0.3s ease;
            }

            &:hover {
              #icon-111-search {
                fill: red;
              }
            }
          }
        }

        .filter-container {
          justify-self: flex-end;

          .button-filter-wrapper {
            cursor: pointer;
            width: 100%;
            background-color: $light;
            position: relative;

            .button-filter-dropdown {
              padding: 8px 15px;
              border: 1px solid $primary;
              p {
                margin-right: 40px;
                pointer-events: none;
              }

              span {
                width: 0;
                height: 0;
                position: absolute;
                right: 10px;
                top: 14px;
                border: solid #171717;
                border-width: 0 1px 1px 0;
                transform-origin: center;
                display: inline-block;
                padding: 4px;
                pointer-events: none;

                &.down {
                  transform: rotate(45deg);
                }

                &.up {
                  top: 20px;
                  transform: rotate(-135deg);
                }
              }
            }

            ul {
              margin: 0;
              padding: 0;
              position: absolute;
              width: 100%;
              border: 1px solid $primary;
              border-top: none;
              display: none;

              &.active {
                display: inline-block;
              }

              li {
                list-style: none;
                button {
                  cursor: pointer;
                  padding-inline: 8px;
                  height: 40px;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  margin: 0;
                  padding-block: 0;
                  opacity: none;
                  border: none;
                  background-color: $light;
                  img {
                    width: auto;
                    height: 30px;
                    margin-right: 4px;
                  }

                  &.active {
                    color: $secondary;
                  }
                }
              }
            }
          }
        }
      }
    }

    .locator__list-items {
      background-color: $light;
      .location-item {
        cursor: pointer;
        padding-inline: 15px;
        padding-block: 20px;
        border-bottom: 1px solid $primary;

        h3 {
          margin-bottom: 16px;
          text-transform: uppercase;
          font-size: 18px;
        }

        .location-item__address {
          margin-bottom: 8px;
        }

        .location-hours-contact {
          width: 100%;
          display: flex;
          margin-bottom: 8px;

          .location-hours {
            margin-right: 40px;

            .status {
              &.open {
                span {
                  color: green;
                }
              }

              &.closed {
                span {
                  color: red;
                }
              }
            }
          }
        }

        .location-services {
          .location-services-holder {
            display: flex;
            .service-tag {
              display: flex;
              align-items: center;
              margin-bottom: 4px;
              margin-right: 10px;

              &:last-of-type {
                margin-bottom: 0;
              }
              img {
                width: 30px;
                height: auto;
                margin-right: 4px;
              }
            }
          }
        }
      }
    }

    .locator__list-pagination {
      width: 620px;
      position: fixed;
      left: 0;
      bottom: 0;
      background-color: $light;
      padding-inline: 15px;
      padding-block: 20px;
      border-top: 1px solid $primary;
      border-right: 1px solid $primary;
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          padding: 0;
          margin: 0;
          float: left;
          a,
          span {
            padding: 8px 15px;
            text-decoration: none;
            float: left;
            color: $primary;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            text-align: center;
            border: 1px solid $primary;
            min-width: 14px;
            padding: 2px 8px;
            margin: 0 5px 0 0;
            border-radius: 3px;
            -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
          }

          .prev,
          .next {
            padding-inline: 10px;
            border-radius: 50px;
          }

          &.active {
            span,
            a {
              color: $light;
              background-color: $secondary;
            }

            .prev,
            .next {
              background-color: $primary;
            }
          }
        }
      }
    }
  }

  .mapHolder {
    width: auto;
    height: calc(100vh - 72px);
    flex: 1;
    position: sticky !important;
    top: 70px;
    right: 0;
  }

  .locator__noResults {
    width: 230px;
    border: 1px solid $primary;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(100%, 100%);
    background-color: $light;
    z-index: 10;
    padding-inline: 20px;
    padding-block: 10px;

    h2 {
      white-space: nowrap;
    }
  }

  &.noResult {
    .locator__noResults {
      display: flex;
    }
  }

  @media screen and (max-width: 1080px) {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    // margin-top: 0;
    .locator__list {
      top: 148px;
      position: sticky;
      width: 100%;
      padding: 0;
      z-index: 2;
      .locator__list-filters {
        padding-block: 10px;
        top: 81px;
        justify-content: space-between;
        .locator__list-filters-view {
          display: flex;
          button {
            padding: 2px 15px;
          }
        }

        .filter-container {
          .button-filter-wrapper {
            .button-filter-dropdown {
              padding: 2px 15px;

              span {
                top: 9px;

                &.up {
                  top: 14px;
                }
              }
            }
          }
        }
      }

      .locator__list-items {
        padding-top: 20px;
      }

      .locator__list-items,
      .locator__list-pagination {
        display: none;
      }

      .locator__list-pagination {
        width: 100%;
      }
    }

    .locator__noResults {
      transform: translate(-50%, -50%);
    }

    .mapHolder {
      width: 100%;
      display: none;
      // height: calc(100vh - 164px);
      // height: calc(100svh - 164px);
      // margin-top: 148px;
    }

    &.map {
      .mapHolder {
        display: block;
      }
    }

    &.list {
      .locator__list {
        .locator__list-items {
          display: block;
        }
        .locator__list-pagination {
          display: flex;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    margin-top: 81px;

    .locator__list {
      top: 80px;
    }

    // .mapHolder {
    // margin-top: 80px;
    // }
  }

  @media screen and (max-width: 650px) {
    .locator__noResults {
      top: 60%;
    }

    .locator__list {
      .locator__list-filters {
        justify-content: space-between;
        border: none;
        border-bottom: 1px solid #404040;
        .locator__input-dropdown {
          width: auto;
          .locator__input-input {
            width: 100%;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            bottom: -42px;
            border: none;
            border-top: 1px solid #404040;
            border-bottom: 1px solid #404040;
          }
        }
      }

      .locator__list-items {
        padding-top: 40px;
        .location-item {
          .location-hours-contact {
            flex-direction: column;
          }

          .location-services {
            .location-services-holder {
              flex-direction: column;
            }
          }
        }
      }
    }

    .mapHolder {
      margin-top: 40px;
    }
  }
}
