// .hidden-fade {
//   opacity: 0;
//   filter: blur(5px);
//   transform: translateX(-100%);
//   transition: all 1s;
// }
// .hidden-fade--longer {
//   transition: all 2s;
// }
// .show-fade {
//   opacity: 1;
//   filter: blur(0);
//   transform: translateX(0);
// }
// @media (prefers-reduced-motion) {
//   .hidden-fade {
//     transition: none;
//   }
// }
