.about-us {
  background-image: url("../img/payspot-pozadina.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
  p {
    color: $black;
  }
}

.about-us-top {
  text-align: center;
  .subtitle {
    justify-content: center;
    margin-bottom: 15px;
    &::after {
      content: " ";
      width: 2.1875rem;
      border-top: 2px solid $secondary;
      display: block;
      -webkit-flex-grow: 0;
      flex-grow: 0;
      -webkit-flex-shrink: 0;
      flex-shrink: 0;
    }
  }
  h2 {
    font-size: 50px;
    line-height: 54px;
    color: $primary;
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
    span {
      color: $secondary;
    }
  }
}
.about-us-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  .content-box {
    width: calc(33.33% - 17px);
    text-align: justify;
    > p {
      margin-bottom: 10px;
      span {
        color: $secondary;
        font-weight: 600;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
    &:nth-child(2) {
      transition-delay: 200ms;
    }
    &:nth-child(3) {
      transition-delay: 400ms;
    }
  }
}
.stat-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
  > p {
    margin-bottom: 0px !important;
  }
}
.stat {
  display: flex;
  flex-direction: column;
  gap: 7px;
  &:nth-child(3) {
    .stat-lines .red-line {
      width: 99%;
    }
  }
  &:nth-child(4) {
    .stat-lines .red-line {
      width: 98%;
    }
  }
  &:nth-child(5) {
    .stat-lines .red-line {
      width: 96%;
    }
  }
}
.stat-lines {
  position: relative;
  width: 100%;
  .gray-line {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 3px;
    width: 100%;
    background-color: silver;
    opacity: 0.5;
  }
  .red-line {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 3px;
    width: 100%;
    background-color: $secondary;
  }
}
.slider-holder {
  position: relative;
}
.about-slide {
  height: 313px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

// .slick-arrow {
//   border: unset;
//   background-color: transparent;
//   font-size: 35px;
// }
// .custom-prev {
//   position: absolute;
//   left: -30px;
//   top: 50%;
//   transform: translateY(-50%);
// }
// .custom-next {
//   position: absolute;
//   right: -30px;
//   top: 50%;
//   transform: translateY(-50%);
// }
@media (max-width: 1024px) {
  .about-us-top h2 {
    font-size: 40px;
    line-height: 44px;
  }
  .about-us p {
    font-size: 14px;
  }
  .about-slide {
    height: 213px;
  }
}

@media (max-width: 768px) {
  .about-us-content {
    flex-direction: column;
    margin-bottom: 50px;
    .content-box {
      width: 100%;
      margin-bottom: 20px;
      text-align: left;
    }
  }
}
@media (max-width: 600px) {
  .about-us-top h2 {
    font-size: 30px;
    line-height: 34px;
    span {
      display: block;
    }
  }
}
