// agent forma je eksenzija contact css-a
.agent-form {
  padding: 70px 0px;
  h2 {
    font-size: 40px;
    line-height: 45px;
    span {
      color: $secondary;
    }
  }
  .formHolder .moreInfo:before {
    // display: none;
  }
  .moreInfo {
    display: flex;
    align-items: center;
    .image {
      text-align: center;
      height: 500px;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
  .contactForm {
    padding-top: 20px;
  }
}

@media (max-width: 550px) {
  .agent-form .moreInfo .image {
    text-align: center;
    height: 300px;
  }
}
